@import url(./normalize.css);
@import url(./reset.css);
@import url(./fontello.css);

/* 기본 설정 */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 엥커 스타일 */
a {
  text-decoration: none;
  color: inherit;
}

/* 본문 스타일 */
body {
  color: #212121; 
  background: #ccc;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 레이아웃 */
.header, .nav, .main, .footer {
  margin: 0 auto;
}

/* 헤더영역 스타일 */
.header {
  background-color: white;
  height: 15vh;
  text-align: center;
}

/* 헤더 네비게이션 */
.header_nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.header_nav li  {
  font-size: 14px;
  position: relative;
  right: 10px;
  bottom: 90px;
}

/* 네비게이션 영역 스타일 */
.nav  {
  background-color: lightsalmon;
  height: 10vh;
}

/* 메인영역 스타일 */
.main {
  background-color: LemonChiffon;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* 메인 섹션영역 */
.main_corn  {
  background-color: tomato;
}

.main_flatBottom  {
  background-color: lightpink;
}

.main_pocket  {
  background-color: chartreuse;
}

.main_etc {
  background-color: lightskyblue;
}

/* 푸터영역 스타일 */
.footer {
  background-color: Aquamarine;
  height: 10vh;
}
